@using System.Linq.Expressions
@using System.Text
@using System.Globalization
@using System.IO;
@using System.Collections;
@using System.Text.Json;
@using System.Text.Json.Nodes
@inject StateContainer StateContainer
@page "/"
<div class="scheme container-fluid m-2">
    <AddField_component></AddField_component>
</div>

@code{

    static string value = "{ 'op': 'not','operands': [{ 'op': 'and', 'operands': [{'op': '=', 'operands': [{ 'field-string': 'path' },{ 'value-string': '/json' }]},{'op': '=', 'operands': [{ 'field-string': 'paths' },{ 'value-string': '/json' }]},{ 'op': '>=','operands': [{ 'field-float': 'latitude'}, { 'value-float': 57.89331022258886}]},{'op':'or','operands':[{'op': '=', 'operands': [{ 'field-string': 'path' },{ 'value-string': '/json' }]},{ 'op': '>=','operands': [{ 'field-float': 'latitude'}, { 'value-float': 57.89331022258886}]}]}]},{'op': '=', 'operands': [{'field-varchar': 'stream'},{'value-varchar': 'checkRegistration'}]}]}";
    static string json = value?.Replace(" ", "");
    static string json2 = json?.Replace("'", "\"");
    public static string json3 = json2?.Replace("-", "_");
    static Item item = JsonSerializer.Deserialize<Item>(json3);
    int level = 1;
    Element element = new Element();
    public void getJson()
    {
        value = JsonSerializer.Serialize(item);
        Console.WriteLine(value);
    }
    public void getJson(Item _item)
    {
        value = JsonSerializer.Serialize(_item);
        Console.WriteLine(value);
    }
    private void ReDraw()
    {
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        JsonNode jsonNode = JsonNode.Parse(json3);
        JsonNode root = jsonNode.Root;
        JsonObject keyValuePairs = root.AsObject();
        String js="";
        foreach(var value in keyValuePairs)
        {
            if (!value.Key.Equals("operands"))
            {
                Console.WriteLine(value.Value+";level:0");
            }

            var k = value.Value;
            if (value.Key.Equals("op"))
            {
                element.operandValue = value.Value.ToString();
                element.operands = new List<Element>();
            }
            js = k.ToJsonString();

        }
        parseJson(js,jsonNode,root,element.operands,1);
        var new_js = JsonSerializer.Serialize(element,new JsonSerializerOptions{Encoder=System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping});
        Console.WriteLine(new_js);

    }


    void parseJson(string js,JsonNode jsonNode,JsonNode root,List<Element> elements,int count)
    {
        string new_js="";
        jsonNode=JsonNode.Parse(js);
        root = jsonNode.Root;
        JsonArray o = root.AsArray();

        bool flag = false;
        foreach (var t in o)
        {
            Element _element = new Element();
            foreach (var m in t.AsObject())
            {
                
                if (!m.Key.Equals("operands"))
                {
                    Console.WriteLine(m.Value.ToString());
                    if (m.Key.Equals("op"))
                    {

                        _element.operandValue = m.Value.ToString();
                        if(m.Value.ToString().Equals("or") | m.Value.ToString().Equals("and") | m.Value.ToString().Equals("not"))
                        {
                            _element.operands = new();
                            elements.Add(_element);
                        }
                        

                    }

                }


                else
                {


                    new_js = m.Value.ToJsonString();
                    if (_element.operands != null)
                    {
                        parseJson(new_js, jsonNode, root, _element.operands, count);
                    }
                    else
                    {
                        ParseSimpleElement(new_js, jsonNode, root, _element);
                        elements.Add(_element);
                    }


                }




            }





        }





    }
    void ParseSimpleElement(string js,JsonNode jsonNode,JsonNode root,Element element)
    {
        string new_js="";
        jsonNode=JsonNode.Parse(js);
        root = jsonNode.Root;
        JsonArray o = root.AsArray();
        foreach(var t in o)
        {
            foreach(var m in t.AsObject())
            {
                if(m.Key.ToString().Contains("field"))
                    {
                        element.key = m.Value.ToString();
                        element.type = m.Key;


                    }
                    if (m.Key.Contains("value"))
                    {
                        element.value = m.Value.ToString();
                    }
            }
        }
    }
           

    



}
