@using System.Linq.Expressions
@using System.Text
@using System.Globalization
@using System.IO;
@using System.Collections;
@using System.Text.Json;
@inject StateContainer StateContainer
@page "/"
<div class="scheme container-fluid m-5">
    <Element_component item="@item"></Element_component>
    
</div>

@code{

    static string value = "{ 'op': 'not','operands': [{ 'op': 'and', 'operands': [{'op': '=', 'operands': [{ 'field-string': 'path' },{ 'value-string': '/json' }]},{'op': '=', 'operands': [{ 'field-string': 'paths' },{ 'value-string': '/json' }]},{ 'op': '>=','operands': [{ 'field-float': 'latitude'}, { 'value-float': 57.89331022258886}]},{'op':'or','operands':[{'op': '=', 'operands': [{ 'field-string': 'path' },{ 'value-string': '/json' }]},{ 'op': '>=','operands': [{ 'field-float': 'latitude'}, { 'value-float': 57.89331022258886}]}]}]},{'op': '=', 'operands': [{'field-varchar': 'stream'},{'value-varchar': 'checkRegistration'}]}]}";
    static string json = value?.Replace(" ", "");
    static string json2 = json?.Replace("'", "\"");
    public static string json3 = json2?.Replace("-", "_");
    static Item item = JsonSerializer.Deserialize<Item>(json3);
    int level = 1;
    public void getJson()
    {
        value = JsonSerializer.Serialize(item);
        Console.WriteLine(value);
    }
    public void getJson(Item _item)
    {
        value = JsonSerializer.Serialize(_item);
        Console.WriteLine(value);
    }
    private void ReDraw()
    {
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        setDeep(level,item);
    }
    void setDeep(int level,Item mitem)
    {
         mitem.level = level;
        if(mitem.op.Equals("or") | mitem.op.Equals("and"))
        {
            level += 1;
        }
        foreach(Item _item in mitem.operands)
        {
            _item.level = level;
            if (_item.operands != null)
            {
                setDeep(level,_item);
            }
        }
       
    }



}
